/* Centrer le bouton */
.row.d-flex.justify-center {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Ajoute une marge en bas pour espacer le bouton de la table */
  }
  
  /* Style de la table */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  